---
---

<footer>
  <div class="grid_1-1-1">
    <div class="foten1">
      <a href="/">
        <img class="footer_img" src="/public/bilder/panachelogo.png" alt="logo" /><h2>PANACHE CHP</h2>
      </a>
    </div>
    <div class="gridf1">
      <p>
        <a href="https://www.instagram.com/panachecph/"
          ><img src="/public/bilder/instagram-24.png" alt="instagram ikon" /></a>
      </p>
    </div>

    <div class="gridf3">
      <!-- knap -->
    
    </div>
  </div>
</footer>
<style>
  /********** FOOTER **********/
  * {
    box-sizing: border-box;
  }
  footer {
    background-color: #fbf8f1;
    gap: 150px;
    padding: 20px;
  }
  a  {
    text-decoration: none;
    color: #AB0000;
  }

  @media (min-width: 750px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .footer_img {
    width: 150px;
  }

  .foot1 {
    padding-bottom: 40px;
    padding: 20px;
  }

  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  .footerh {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 4rem;
    font-weight: 400;
  }

  .footlinks {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .foottext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: #000000;
  }
  p {
    color: rgb(0, 0, 0);
  }

  /********** FOOTER SLUT **********/
</style>
